// Zmienne
$primary-color: #2b2d42;
$seconadary-color: #8d99ae;
$background-color: #edf2f4;
$blue-color: #007bff;
$red-color: #ef233c;
$text-color: #fff;
$error-color: #d62828;
$shadow-color: rgba(0, 0, 0, 0.1);

// Resetowanie stylów
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Strona główna
body {
    font-family: 'Lato', sans-serif;
    background-color: $background-color;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.link {
    text-decoration: none;
    color: $text-color;

    &:hover {
        color: lightgray;
    }
}

.error {
    text-align: center;
    color: $error-color;
    font-size: small;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}
  
select option {
    background-color: #fff;
    color: #333;
}
  
select:hover {
    border-color: #555;
}
  
select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

  

// Przyciski
.btn {
    border: none;
    padding: 8px;
    font-size: 16px;
    border-radius: 20px;
    color: $text-color;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
}

.add-btn {
    background-color: $blue-color;
}

.del-btn {
    background-color: $red-color;
}

// Karty
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 2em 0;
    gap: 2em;
}


.card {
    flex: 1;
    max-width: 400px;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1em;
    border-radius: 30px;
    box-shadow: 0px 4px 6px -1px $shadow-color, 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        padding: 1em;
        
        a {
            display: block;
            text-decoration: none;
            color: #007bff;
            margin-bottom: 10px;
            margin: auto;
        }
          
        a:hover {
            text-decoration: underline;
        }
          
        input {
            width: 100%;
            padding: 5px;
            border: none;
            border-radius: 20px;
            font-size: 16px;
        }
          
        label {
            font-size: 14px;
        }
          
        h2 {
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

// Nagłówek
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: $text-color;
    padding: 10px 2em;
    box-shadow: 0px 4px 6px -1px $shadow-color, 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

// Stopka
.footer {
    background-color: $primary-color;
    color: $text-color;
    padding: 2em;
    text-align: center;
}

// Logo
.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: $text-color;

    img {
        width: 70px;
        height: 70px;
        filter: brightness(0) invert(1);
    }
}

// Koszyk
.cart-btn {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cart-btn div:last-child {
    position: absolute;
    top: 12px;
    right: -5px;
    background-color: #d90429;
    color: $text-color;
    border-radius: 50%;
    padding: 6px 10px;
    font-size: 14px; 
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

// Home
.product-img {
    height: 200px;
    object-fit: cover;
}

.product-id {
    text-align: center;
}

.search-bar {
    background-color: $seconadary-color;
    padding: 1em;
    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
    }
    .slider {
        display: flex;
        align-items: center;
        gap: 1em;
        .slider-content {
            width: 5em;
        }
    }
}


// Koszyk
.shopping-cart {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 2em 0;
}

.cart {
    background-color: $seconadary-color;
    border-radius: 30px;
    box-shadow: 0px 4px 6px -1px $shadow-color, 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.order-item {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.form-card {
    background-color: $primary-color;
    margin: 1em;
    padding: 1em;
    color: $text-color;
    border-radius: 30px;
    box-shadow: 0px 4px 6px -1px $shadow-color, 0px 2px 4px -1px rgba(0, 0, 0, 0.06);

    .form-card-content {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 1em;
    }

    .form-card-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }

    input {
        width: 100%;
        padding: 5px;
        border: none;
        border-radius: 20px;
        font-size: 16px;
    }

    label {
        font-size: 20px;
    }

    p {
        font-size: 20px;
        font-weight: bold;
    }
}

.submit {
    display: flex;
    justify-content: flex-end;
}

.cart-img {
    height: 100px;
}

.cart-buttons {
    display: flex;
    gap: 0.5em;
    justify-content: center;
}

.add-to-cart-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

// Administracja
.admin-buttons {
    display: flex;
    padding: 1em;
    justify-content: flex-end;
    gap: 2em;
    background-color: $seconadary-color;
}

.admin-form-content {
    display: flex;
    justify-content: space-around;
}

.admin-form-container {
    display: flex;
    justify-content: center;
}

// Product details 

.product-details {
    display: flex;
    margin: 2em 10%;
    gap: 2em;
    justify-content: space-around;

    .product-details-img {
        height: 250px;
    }
}
  
.reviews-card {
    background-color: $seconadary-color;
    color: white;
}
  
.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style: none;
}
