@tailwind base;
@tailwind components;
@tailwind utilities;



// Zmienne
$primary-color: #11151C;
$seconadary-color: #212D40;
$background-color: #edf2f4;
$blue-color: #007bff;
$red-color: #ef233c;
$text-color: #fff;
$error-color: #d62828;
$shadow-color: rgba(0, 0, 0, 0.1);

// Resetowanie stylów
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Strona główna
body {
    font-family: 'Raleway', sans-serif;
    // background: linear-gradient(to right, #7D4E57, #D66853);
    background-color: whitesmoke;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.link {
    text-decoration: none;
    color: $text-color;

    &:hover {
        color: lightgray;
    }
}

.error {
    text-align: center;
    color: $error-color;
    font-size: small;
}


// Logo
.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: $text-color;

    img {
        width: 70px;
        height: 70px;
        filter: brightness(0) invert(1);
    }
}

// Koszyk
.cart-btn {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    margin-right: 1em;
    align-items: center;
}

.cart-btn div:last-child {
    position: absolute;
    top: 12px;
    left: 20px;
    background-color: #d90429;
    color: $text-color;
    border-radius: 50%;
    padding: 6px 10px;
    font-size: 12px; 
}
  

.custom-select {
    position: relative;
    width: 100%;
}

.select {
    padding: 0.5em 3em 0.5em 1.5em;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    width: 100%;
    background-color: #2b2d42;
    color: white;
    cursor: pointer;
}

.custom-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    width: 2em;
    pointer-events: none;
    background-color: #27233A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-slide > div {
    margin: 0 10px;
}

.slick-prev:before,
.slick-next:before {
  color: $primary-color !important; 
}
