* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: 'Lato', sans-serif;
  background-color: #eae2b7;
}
  
.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px;
  background-color: #d62828;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
  
.logo img {
    width: 70px;
    height: 70px;
    filter: brightness(0) invert(1);
}

.name {
    font-weight: bold;
}

.menu {
  margin-left: 10px;
}

.menu-list {
  list-style: none;
  margin-left: 10px;
}

.menu-li {
  color: white;
  text-decoration: none;
}

.menu-link {
  color: white; 
  text-decoration: none; 
}

.menu-link:hover {
  color: lightgray; 
}


.shoe-img {
  width: 200px;
  height: 200px;
}
  